* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: dbedfd;
}
.login-container {
  width: 500px;
  margin-top: 150px;
}
.custom-btn {
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: #568ec0;
  border: none;
  border-radius: 5px;
}
.sidebar {
  background-color: #568ec0;
  min-width: 80px;
  width: 80px;
  padding: 20px;
  color: #ffffff;
}
.sidebar a {
  text-decoration: none;
  color: #ffffff;
}
.sidebar-header {
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
}
.divition {
  border-bottom: 1px solid #adadad;
  margin: 5px 0px;
}
.sidebar-header > i {
  font-size: 28px;
  margin-top: -5px;
}
.sidebar-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}
.sidebar-sub-menu {
  padding-left: 15px;
}
.toggle {
  text-align: center;
  margin-top: 20px;
}
.toggle > i {
  padding: 10px 15px;
  background-color: #adadad;
  border-radius: 50%;
}
.sidebar:not(.extend) .sidebar-header > h5,
.sidebar:not(.extend) .sidebar-menu a,
.sidebar:not(.extend) .sidebar-menu .fa-angle-down {
  display: none;
}
.sidebar:not(.extend) .sidebar-sub-menu,
.sidebar:not(.extend) .sidebar-sub-menu i {
  padding-left: 0px;
  font-size: 12px;
}
.sidebar:not(.extend) .sidebar-header i {
  font-size: 38px;
}
.extend {
  min-width: 240px;
}
.content {
  min-height: 100vh;
  width: 100%;
}
.nav {
  width: 100%;
  background-color: #fff;
  padding: 20px 40px;
  justify-content: space-between;
  box-shadow: 2px 0px 31px 7px rgba(0, 0, 0, 0.3);
}
.search-wapper {
  display: flex;
}
.search {
  border: 1px solid #adadad;
  padding: 5px 10px;
  /* border-radius: 5px; */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: center;
}
.search input {
  border: none;
  outline: none;
  margin-left: 8px;
}
.search-icon {
  color: #fff;
  background-color: #568ec0;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
}
.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.table-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.profile-wapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.validation-message {
  color: red;
  font-size: 13px;
  padding: 5px 0px;
}

table{
 text-align: center;
}

th,td{
  vertical-align: middle;
}